.git
.gitignore
.vscode
.idea
node_modules
.pnpm
.pnpm-store
*.log
*.local
npm-debug.log
pnpm-debug.log
yarn-debug.log
yarn-error.log
.next
.turbo
dist
coverage
.tmp
.DS_Store
Thumbs.db
apps/*/.next
apps/*/.turbo
apps/*/node_modules
apps/*/dist
packages/*/node_modules
packages/*/dist
infrastructure/.terraform
Сайт_Брендбук/
